# ===== Flutter / Dart =====
.dart_tool/
.packages
.pub/
.pub-cache/
build/
coverage/
pubspec.lock
.metadata
.flutter-plugins
.flutter-plugins-dependencies

# ===== Android =====
android/.gradle/
android/local.properties
android/app/build/

# ===== iOS =====
ios/Pods/
ios/.symlinks/
ios/Flutter/
ios/Podfile
ios/Podfile.lock

# ===== macOS =====
macos/Pods/
macos/.symlinks/
macos/Flutter/
macos/Podfile
macos/Podfile.lock

# ===== Linux / Windows =====
linux/flutter/ephemeral/
windows/flutter/ephemeral/

# ===== IDE / OS =====
.idea/
.vscode/
*.iml
.DS_Store

# ===== Logs =====
*.log
